@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  width: 100%;
  height: 100%;
}

.logo {
    font-family: 'Inter', sans-serif;
    color: #1C4213;
  }
  @media (min-width: 1024px) {
    #default-sidebar {
      transform: translateX(0);
    }
  }
  
  .logo-color {
    color: #1C4213!important;
  }

  .logo-button {
    border-color: #1C4213;
    color: #1C4213;
  }

  .logo-button:hover {
    border-color: #9fe870;
    background-color: #9fe870;
  }

  .logo-active-button {
    background-color: #9fe870;
    color: black
  }